.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 6px 3px rgba(0, 0, 0, 0.3);
  padding: 2rem 3rem;
  height: 50%;
  width: 70%;
  max-width: 600px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.01);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 3rem;
  width: 60%;
  max-width: 40rem;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.01);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  gap: 0.5rem;
}

.form-group button {
  all: unset;
  padding: 1rem 2rem;
  box-shadow: 0 6px 3px rgba(0, 0, 0, 0.3);
  outline: rgba(0, 0, 0, 0.1);
  color: var(--primary-text);
  font-weight: 800;
  cursor: pointer;
}

.login-form-title {
  font-size: 2rem;
  color: var(--primary-text);
  font-weight: 800;
  margin-bottom: 1.5rem;
}

.form-group label {
  color: var(--secondary-text);
}

.form-group input {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  width: 15rem;
}
.form-group select {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  width: 15rem;
}
.form-group textarea {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  width: 15rem;
}
