.header{
    padding: 2rem 0;
    background-color: var(--primary-bg);
    position: relative;
}

.header-title{
    margin-bottom: 1rem;
}

.header-title h1{
    color: var(--primary-text);
}

.header-links{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: .5rem;
    display: flex;
    gap: 1rem;
    color: var(--primary-text);
}

.header-links button{
    all: unset;
}