/* Setting the background color of the form-container to a gradient.
** this works for the olden browsers */
.form-container {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */


/* Setting the background color of the form-container to a gradient. 
** this is for the new browsers*/
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

/* Centering the form in the middle of the page. */
  height: 55rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
